@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
}
@using Tsep.Models
@model Tsep.Entities.CollegeDetails
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

     <div class="container">
         @using(Html.BeginForm())
         {
         
         <h2>Select College:</h2> 
         @Html.DropDownListFor(m=>m.college.RowKey,Model.colgs)
            
         <div>
            <p></p>
             <input type="submit" value="Get Details"/>
         </div>
         }
         @if (Model.colgselected)
         {
             <h2>College Details:</h2>
        <div class="results">
            <table>
                <tr>
                    <th>Code: </th>
                    <td>@Model.college.RowKey</td>
                </tr>
                <tr>
                    <th>College Name: </th>
                    <td>@Model.college.Name</td>
                </tr>
                <tr>
                    <th>CoED: </th>
                    <td>@Model.college.CoEd</td>
                </tr>
                <tr>
                    <th>Minority: </th>
                    <td>@Model.college.Minority </td>
                </tr>
                <tr>
                    <th>Region: </th>
                    <td>@Model.college.Region </td>
                </tr>
                <tr>
                    <th>Aided: </th>
                    <td>@Model.college.Aided</td>
                </tr>
                <tr>
                    <th>Type: </th>
                    <td>@Model.college.Type </td>
                </tr>
                <tr>
                    <th>Phone Number: </th>
                    <td>@Model.college.PhoneNo</td>
                </tr>
                <tr>
                    <th>Address: </th>
                    <td>@Model.college.Address</td>
                </tr>
                <tr>
                    <th>Place: </th>
                    <td>@Model.college.Place</td>
                </tr>
                <tr>
                    <th>Hostel: </th>
                    <td>@Model.college.Hostel</td>
                </tr>
                <tr>
                    <th>District: </th>
                    <td>@Model.college.District</td>
                </tr>
                <tr>
                    <th>Establishment Year: </th>
                    <td>@Model.college.EstablishmentYear</td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td>@Model.college.Email</td>
                </tr>
                <tr>
                    <th>Affliation: </th>
                    <td>@Model.college.Affliation</td>
                </tr>
                <tr>
                    <th>Website: </th>
                    <td>@Model.college.Website</td>
                </tr>
            </table>
            <h2>College Cut-Off Ranks:</h2>

        </div>
         }
         <div>
             
         </div>
     </div>
   
   
  

   </body>
</html>
