<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5129888924074710",
            enable_page_level_ads: true
        });
    </script>
    <title>@ViewBag.Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css?h=assavsdsweswsds">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oswald|Raleway|Source+Sans+Pro&amp;subset=latin-ext" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/script.js?v=hooo"></script>
    <script type="text/javascript">
    	function myFunction() {
    		var x = document.getElementById("myTopnav");
		    if (x.className === "topnav") {
		        x.className += " responsive";
		    }else{
		        x.className = "topnav";
		    }
	}
    </script>
</head>

<body>
   
    <header>
        <ul class="topnav" id="myTopnav">
            @if(ViewBag.Page == "Index")
            { 
            <li class="title"><a href="/Home">Ts Eamcet Predictor</a></li>
            }
            else
            {
            <li class="title"><a href="/@ViewBag.Page">@ViewBag.Page</a></li>
            }
            <li class="@(ViewBag.Page == "Index" ? "active" : "")">@Html.ActionLink("Home","Index","Home")</li>
            <li class="@(ViewBag.Page == "Colleges" ? "active" : "")">@Html.ActionLink("Colleges","Index","Colleges")</li>
            <li>
	        <a href="#" class="nav-btn" id="btn">
	            Predictor<img class="img" src="~/images/arrow-down.png" data-swap="~/images/arrow-up.png" width="20" style="position: fixed; margin-left: 20px;" />
	        </a>
	            <ul class="sub-nav">
	                <li>@Html.ActionLink("Rank", "Index", "Rank") </li>
	                <li>@Html.ActionLink("Colleges", "Index", "PredictCollege") </li>
	            </ul>
	        
            </li>
            <li class="right @(ViewBag.Page == "About" ? "active" : "")">@Html.ActionLink("About","Index","About")</li>
            <li class="right @(ViewBag.Page == "Contact" ? "active" : "")">@Html.ActionLink("Contact","Index","Contact")</li>
         

            <li class="icon">
                <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>

        </ul>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
